---
title: base
SEOdescription: "Wildlife corridors or stepping stones in the ecological network, improved and extended including verges, woodlands, hedgerows, canals, rivers, streams"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <metax http-equiv="Content-Security-Policy" 
    content="
        default-src 'none'; 
        upgrade-insecure-requests ;
        style-src 'self' https://unpkg.com https://fonts.googleapis.com ;
        font-src https://fonts.gstatic.com ;
        script-src 'self' ;
        img-src 'self' https://* ;
        child-src 'self' https://www.youtube.com https://player.vimeo.com ;
    ">

    <meta name="description" content="{{ SEOdescription }}">

    {% if ignore %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <link rel="shortcut icon" href="/corridors.png" type="image/x-icon" />


    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>

    

</head>
<body>
    <div class="paper container">

        {{ content | safe }}

    </div>
</body>

</html>