---
title: base
SEOdescription: "Wildlife corridors or stepping stones in the ecological network, improved and extended including verges, woodlands, hedgerows, canals, rivers, streams"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <meta http-equiv="Content-Security-Policy" 
    content="
        default-src 'self'; 
        style-src 'self' https://unpkg.com https://fonts.googleapis.com ;
        font-src https://fonts.gstatic.com ;
        script-src 'self' https://www.googletagmanager.com ;
        img-src 'self' https://* ;
        child-src 'self' https://www.youtube.com ;
    ">

    <meta name="description" content="{{ SEOdescription }}">

    {% if ignore %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <link rel="shortcut icon" href="/corridors.png" type="image/x-icon" />

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async 
        src="https://www.googletagmanager.com/gtag/js?id=G-1D4C337P3G">
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag(){
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-1D4C337P3G');
    </script>

</head>
<body>
    <div class="paper container">

        {{ content | safe }}

    </div>
</body>

</html>